.box{
    width: 70%;
    margin: 80px auto;
    border: 10px solid transparent;
}
.image img{
    display: block;
    margin: auto;
    width: 100%;
}
.content p {
    padding-top: 80px;
    font-size: 18px;
    text-indent: 30px;
    text-align: justify;
}
