.box {
  width: 70%;
  margin: 80px auto;
  border: 10px solid transparent;
  padding-top: 20px;
}
.image img {
  display: block;
  margin: auto;
  width: 100%;
}
.content p {
  padding-top: 50px;
  font-size: 18px;
  text-indent: 30px;
  text-align: justify;
}
