  .mainAbout{
<<<<<<< HEAD
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 100px;
  }
  .judul{
=======
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      
      
  }
  .judul{
    margin-top: 70px;
    margin-left: 50px;
>>>>>>> 2a517e7629fee55506cafffe35bec86b513d9482
    overflow-x: hidden;
    display: flex;
  }
  .hrLeft{
      width: 450px;
      border: 1px solid #ebbb92;
      border-radius: 3px;
<<<<<<< HEAD
=======
      text-align: left;
      background-color: black;
      

>>>>>>> 2a517e7629fee55506cafffe35bec86b513d9482
  }
  .about{
      
      color: #5c2a03;
      
  }
  .hrRight{
      text-align: right;
      width: 450px;
      border:1px solid #ebbb92;
      float: right;
      border-radius: 3px;
  }

  .gambar1{
      padding-top: 2vw;
      padding: 10px;
      margin: 100px;
      width: 1000px;
      margin-top: 10px;
      margin-bottom: 5px;
      
  }
  .tesGambar{
      width: 1000px;
      height: 500px;
      background-color: grey;
      color: grey;
  }
  .tulisan{
      margin-top: 50px;
      margin-bottom: 10px;
      padding-top: 3px;
      padding-bottom: 50px;
      line-height: 1.5;
      text-align: left;
  }
  .tulisan2{
      padding-top: 30px;
  }
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  