
.mainAbout {
  margin-top: 140px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
 
}
.judul {
  margin-top: 70px;
  margin-left: 50px;
  overflow-x: hidden;
  display: flex;
}
.containerGaris{
  text-align: center;
  margin-top: 100px;
  display: flex;
  margin-left: 140px;
  font-size: 25px;
  color: #5c2a03;
}

.hrLefto {
  background-color: #ebbb92;
  width: 359px;
  border:2px solid #ebbb92;
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  margin-left: 55px;
  float: left;
  border-top: none;
}
.about {
  color: #5c2a03;
  
}
.hrRighto {
  background-color: #ebbb92;
  width: 359px;
  border:2px solid #ebbb92;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 20px;
  border-top: none;
  float: right;
}

.gambar1 {
  padding-top: 2vw;
  padding: 10px;
  margin: 100px; 
  padding-left: 20px;
  padding-right: 30px;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 5px;
}
.tesGambar {
  width: 850px;
  height: 500px;
  margin-left: 75px;
  background-color: grey;
  
}
.tulisan {
  margin-left: 72px;
  margin-right: 390px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 50px;
  line-height: 1.5;
  text-align: left;
  
}
.tulisan2 {
  padding-top: 30px;
}
@media screen and (max-width: 800px) {
  .mainAbout {
    width: 100%;
   
    margin-left: 0px;
    padding-left: 130px;
    
  }
  .about{
      
      color: #5c2a03;
      
  }
  .hrLefto{
    width: 195px;
    margin-left: -190px;
    float: left;

  }
  .hrRighto{
      text-align: right;
      width: 195px;

      border:1px solid #ebbb92;
      float: right;
      
  }

  .gambar1{
    
    margin-left: -50px;
      width: 1000px;
      margin-top: 20px;
      margin-bottom: 5px;
      
      
  }
  .tesGambar{
    margin-top: -10px;
    margin-left: -20px;
      width: 525px;
      height: 500px;
      background-color: grey;
      color: grey;
  }
  .tulisan{
    margin-left: -20px;
    margin-right: 450px;
      margin-top: 50px;
      margin-bottom: 10px;
      padding-top: 3px;
      padding-bottom: 50px;
      line-height: 1.5;
      text-align: left;
      
  }
  .tulisan2{
      padding-top: 30px;
      

  }
  
}
