.primary-color {
  color: #5c2a03;
}

.secondary-color {
  color: #ebbb92;
}

.secondary-background-color {
  background-color: #ebbb92;
}

.primary-background-color {
  background-color: #5c2a03;
}

.text-color {
  color: #afafaf;
}

.white-color {
  color: white;
}
